h1 {
    color: darkmagenta;
    font-family: "merriweather", serif ;
    font-size: 35pt;
}



h2 {
	color: rgb(0, 0, 0);
    font-family: "merriweather", serif ;
    font-size: 20pt;
}



h2 {
    text-transform: uppercase;
  }



p {
	color: rgb(153, 65, 153); 
	font-family: "Helvetica", sans-serif ;
    font-size: 20px; 
}



img {
    max-width: 600px;
    height: auto
}